spring:
  profiles:
    active: dev

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql:///reggie
    username: root
    password: wengyehao123
    type: com.zaxxer.hikari.HikariDataSource
  application:
    name: reggie_take_out
  data:
    redis:
      host: 192.168.240.132
      port: 6379
      password: wengyehao123
      client-type: lettuce #springboot默认使用lettuce
      lettuce:
        pool:
          max-active: 8

server:
  port: 8080

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true #开启驼峰命名自动映射
  global-config:
    db-config:
      id-type: auto #设置id主键自增长

#reggie:
#  path: D:/img/

aliyun:
  oss:
    endpoint: https://oss-cn-beijing.aliyuncs.com
    accessKeyId: LTAI5tCCW42WHa7gC6eZB6HF
    accessKeySecret: 4QNUiW0zGwgEV567BNOVmOEEg8R3dT #不会有人会拿一个免费的账号传什么图片吧，不会吧
    bucketName: my-reggie-take-out

---
spring:
  config:
    activate:
      on-profile: pro
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.240.132:3306/reggie
    username: root
    password: wengyehao123
    type: com.zaxxer.hikari.HikariDataSource
  application:
    name: reggie_take_out

server:
  port: 8080

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true #开启驼峰命名自动映射
  global-config:
    db-config:
      id-type: auto #设置id主键自增长

aliyun:
  oss:
    endpoint: https://oss-cn-beijing.aliyuncs.com
    accessKeyId: LTAI5tCCW42WHa7gC6eZB6HF
    accessKeySecret: 4QNUiW0zGwgEV567BNOVmOEEg8R3dT #不会有人会拿一个免费的账号传什么图片吧，不会吧
    bucketName: my-reggie-take-out